services:
  course-app:
    depends_on:
      - mongo_db
    image: spring-boot-app-with-mongodb
    build:
      context: .
      dockerfile: Dockerfile
    env_file: ./.env
    ports:
      - $SPRING_LOCAL_PORT:$SPRING_DOCKER_PORT
    environment:
      SPRING_APPLICATION_JSON: '{
            "spring.mongodb.uri" : "mongodb://$MONGODB_USER:$MONGODB_PASSWORD@mongo_db:$MONGODB_DOCKER_PORT/$MONGODB_DATABASE?authSource=admin"
          }'
    volumes:
      - .m2:/root/.m2
    stdin_open: true
    tty: true
  mongo_db:
    image: mongo:5.0.2
    env_file: ./.env
    environment:
      - MONGO_INITDB_ROOT_USERNAME=$MONGODB_USER
      - MONGO_INITDB_ROOT_PASSWORD=$MONGODB_PASSWORD
    ports:
      - $MONGODB_LOCAL_PORT:$MONGODB_DOCKER_PORT
    volumes:
      - db:/data/db

  grafana-lgtm:
     image: 'grafana/otel-lgtm:latest'
     ports:
       - '3000:3000'
       - '4317:4317'
       - '4318:4318'
volumes:
    db: